---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Eduardo Pacheco | Desarrollador Web">
  <Header />
  <main class="w-4/5 mx-auto">
    <hr class="h-0.5 bg-white mb-8" />
    <Projects />
    <hr class="h-0.5 bg-white my-8" />
    <Footer />
  </main>
</Layout>
