---
import Layout from "../layouts/Layout.astro";
import StarryNight from "../components/StarryNight";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Eduardo Pacheco">
  <section class="relative h-screen">
    <StarryNight client:idle />
    <div class="relative z-10 h-screen flex items-center justify-center">
      <div class="text-center text-white">
        <h2 class="text-3xl font-bold mb-4">Hello World</h2>
        <h1 class="text-6xl font-bold mb-4">I'm Eduardo Pacheco</h1>
        <p class="text-3xl mb-4">Full stack developer</p>
        <button
          type="button"
          id="scroll-to-content"
          class="px-8 py-3 bg-white/10 backdrop:blur-sm rounded-full hover:bg-white/20 transition-all duration-300 transform hover:scale-105"
          >Get To Know Me</button
        >
      </div>
    </div>
  </section>
  <AboutMe />
  <Skills />
  <Projects />
  <Footer />
</Layout>

<script>
  const scrollButton = document.getElementById("scroll-to-content");
  scrollButton?.addEventListener("click", () => {
    const aboutMe = document.getElementById("about-me");
    aboutMe?.scrollIntoView({ behavior: "smooth" });
  });
</script>
