---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Proyectos from "../components/Proyectos.astro";
---

<Layout title="Eduardo Pacheco | Desarrollador Web">
  <Header />
  <main class="w-4/5 mx-auto">
    <hr class="h-0.5 bg-white mb-8" />
    <Proyectos />
  </main>
</Layout>
