---

---

<section class="relative z-10 text-white h-screen flex flex-col justify-center" id="about-me">
  <div class="w-4/5 max-w-6xl mx-auto px-4 py-16 space-y-16">
    <p class="text-xl">
      I'm a <span class="font-bold">full stack developer</span> with a passion for
      creating beautiful and functional websites and applications. I have 5+ years
      of experience working with modern web technologies and frameworks such as React,
      Next.js, and Tailwind CSS.
    </p>
    <p class="text-xl">
      I love turning complex problems into simple, intuitive designs.
    </p>
  </div>
</section>
