<footer class="w-full mt-8" id="contacto">
  <h3 class="font-semibold text-4xl mb-6">Contacto</h3>
  <ul class="flex flex-row text-2xl mb-8">
    <li class="mr-4">
      <a
        href="mailto:eduardopachecoquintanar@gmail.com"
        target="_blank"
        rel="noopener">Email</a
      >
    </li>
    <li class="mr-4">
      <a href="http://github.com/eduardoConX" target="_blank" rel="noopener"
        >GitHub</a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/eduardx"
        target="_blank"
        rel="noopener">LinkedIn</a>
    </li>
  </ul>
</footer>
