---
import Email from "./icons/Email.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";

const contactMeans = [
  { name: "Email", link: "mailto:eduardopachecoquintanar@gmail.com" },
  { name: "LinkedIn", link: "https://www.linkedin.com/in/eduardx" },
  { name: "GitHub", link: "https://github.com/EduardoConX" },
];
---

<footer class="relative z-10 text-white">
  <div class="max-w-6xl mx-auto px-4 py-16 space-y-16">
    <div class="flex justify-center gap-4">
      {
        contactMeans.map((component) => (
          <a href={component.link} target="_blank" rel="noopener noreferrer">
            {component.name === "Email" && <Email />}
            {component.name === "LinkedIn" && <LinkedIn />}
            {component.name === "GitHub" && <GitHub />}
          </a>
        ))
      }
    </div>
  </div>
</footer>
