<section id="proyectos" class="mb-8">
  <a href="https://datatics.com.mx/" target="_blank" rel="noopener">
    <h2 class="font-semibold text-6xl mb-8">DataTics</h2>
  </a>
  <img
    src="/assets/DataTics.png"
    alt="DataTics"
    class="w-full md:w-4/5 md:mx-auto"
  />
</section>
