---

---

<section class="relative z-10 text-white">
  <div class="w-4/5 max-w-6xl mx-auto px-4 py-16 space-y-16">
    <h2 class="text-3xl font-bold mb-4">Recent projects</h2>
    <p>No recent projects to show</p>
  </div>
</section>
